<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.mypillapp">
    //การแจ้งเตือน
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    //แก้ไขเรื่องการอัพภาพ
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".InitialFonts"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity1"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".test.NewPill"
            android:label="@string/title_activity_new_pill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewEvent"
            android:label="@string/title_activity_new_event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PillDetail"
            android:label="@string/title_activity_pill_detail"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Alarm.AlarmServiceEvent"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Alarm.AlarmEventManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Alarm.AlarmPillManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Alarm.EventScreen"
            android:label="@string/title_activity_event_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EventDetail"
            android:label="@string/title_activity_event_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ShowMedicineBefore"
            android:label="@string/title_activity_show_medicine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InfoPillActivity"
            android:label="@string/title_activity_info_pill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Alarm.PillHourScreen"
            android:label="@string/title_activity_pill_hour_screen"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.ListPill"
            android:label="@string/title_activity_list_pill"
            android:theme="@style/MyMaterialTheme.Base.NoActionBar" />
        <activity
            android:name=".activity.ListEvent"
            android:label="@string/title_activity_list_event"
            android:theme="@style/MyMaterialTheme.Base.NoActionBar" />
        <activity
            android:name=".activity.NewPillActivity"
            android:label="@string/title_activity_new_pill"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewDoctorActivity"
            android:label="@string/title_activity_new_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListDoctor"
            android:label="@string/title_activity_list_doctor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DetailDocter"
            android:label="@string/title_activity_detail_docter"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Alarm.MyReceiverBefore"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Alarm.MyReceiverAfter"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Alarm.MyServiceBefore"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Alarm.MyServiceAfter"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.ShowMedicneAfter"
            android:label="@string/title_activity_show_medicne_after"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Alarm.MyServiceHour"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Alarm.MyReceiverHour"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.SettingTime"
            android:label="@string/title_activity_setting_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewPillHour"
            android:label="@string/title_activity_new_pill_hour"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ShowMedicineHour"></activity>
    </application>

</manifest>